<app-modal size="lg" (closeEvent)="close()">
  @if (!isEditingName()) {
    <div modalTitle class="project-modal__title">
      <span>{{ project().name }}</span>
      <button type="button" class="project-modal__icon-button project-modal__edit-button" (click)="startProjectNameEdit()" aria-label="Edit project name" title="Edit">
        <span class="project-modal__glyph project-modal__glyph--edit" aria-hidden="true"></span>
      </button>
    </div>
  } @else {
    <app-inline-edit-input modalTitle [value]="project().name" (acceptEvent)="editProjectName($event)" (cancelEvent)="stopProjectNameEdit()"/>
  }

  <div class="project-modal__field">
    <span class="project-modal__field-label">Client</span>
    <app-client-selector-button [selectedClient]="project().client" (clientSelectEvent)="editProjectClient($event)"/>
  </div>

  <div class="project-modal__table">
    <app-task-list [tasks]="project().tasks" (taskEditEvent)="editProjectTask($event)" (taskDeleteEvent)="deleteProjectTask($event)"/>
  </div>
  <p class="project-modal__table-footer"><i>If you want to see task metrics, use the <a routerLink="/reports">Reports Page</a>.</i></p>

  <div class="project-modal__footer">
    <button type="button" class="project-modal__delete-button" (click)="toggleDeleteConfirmationModal()">Delete</button>
  </div>
</app-modal>

@if (isDeleteConfirmationModalOpen()) {
<app-delete-confirmation-modal [toDeleteName]="project().name" (confirmationOptionSelectEvent)="handleDeleteConfirmation($event)" (closeEvent)="toggleDeleteConfirmationModal()"/>
}
