<button #triggerButton type="button" class="project-item" aria-haspopup="dialog" [attr.aria-expanded]="isOpen()" (click)="toggle()">{{displayText()}}</button>

<div class="selector__popup" [class.selector__popup--open]="isOpen()"
     [style.top.px]="popupPosition().top" [style.left.px]="popupPosition().left">
  <div class="selector__popup-list">
    @for (project of projects(); track project.id) {
      <button type="button" class="project-item" [attr.title]="project.name" (click)="changeTimeEntryProject(project)">{{ project.name }}</button>
      @for (task of project.tasks; track task.id) {
        <button type="button" class="task-item" [attr.title]="task.name" (click)="changeTimeEntryTask(project, task)">{{ task.name }}</button>
      }
      <button type="button" class="task-item" (click)="setCreateTaskFormModalProject(project)">New Task</button>
    }
  </div>
  <button type="button" class="popup__new" (click)="toggleCreateProjectForm()">New Project</button>
</div>

@if (isCreateProjectFormModalOpen()) {
<app-create-project-form-modal (closeEvent)="toggleCreateProjectForm()" (projectCreateEvent)="addCreatedProject($event)"/>
}

@if (createTaskFormModalProject() != null) {
<app-create-task-form-modal [selectedProject]="createTaskFormModalProject()!" (closeEvent)="setCreateTaskFormModalProject(null)" (taskCreateEvent)="addCreatedTask($event.project, $event.task)"/>
}
