<button #projectButton type="button" class="project-item" aria-haspopup="dialog" [attr.aria-expanded]="isSelectorOpen()" (click)="toggle()">{{formatDisplayText()}}</button>

<div class="popup" [class.popup--open]="isSelectorOpen()"
     [style.top.px]="popup().top" [style.left.px]="popup().left">
  <div class="popup__list">
    @for (project of projects(); track project.id) {
      <button type="button" class="project-item" (click)="changeTimeEntryProject(project)">{{ project.name }}</button>
      @for (task of project.tasks; track task.id) {
        <button type="button" class="task-item" (click)="changeTimeEntryTask(project, task)">{{ task.name }}</button>
      }
    }
  </div>
  <button type="button" class="popup__new" (click)="toggleCreateProjectForm()">New Project</button>
</div>

@if (isCreateProjectFormOpen()) {
<app-create-project-form (closeModalEvent)="toggleCreateProjectForm()" (projectCreateEvent)="addCreatedProject($event)"/>
}
